@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-preto: #2C3639;
    --cor-branco: #DCD7C9;
    --cor-azul-claro: #A27B5C;
    --cor-hover: #3F4E4F;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    box-sizing: border-box;
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-azul-claro);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.12rem;
    
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
}

.titulo_destaque{
    color: var(--cor-azul-claro);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria)
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao__links__subtitulo{
   font-family: var(--fonte-primaria);
   font-weight: 400;
   font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 0.12rem solid var(--cor-azul-claro);
    width: 50%;
    padding: 1.5rem 0;
    border-radius: 0.5rem;
    color: var(--cor-branco);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
}

.apresentacao__links__links:hover{
    background-color: var(--cor-hover);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-preto);
    background-color: var(--cor-azul-claro);
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}